[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "public"]
	path = public
	url = git@github.com:ncov-au/ncov-au.github.io.git
	branch = master
